@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Nunito:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Inter:wght@300;400;600&family=Roboto+Mono&display=swap');

$inter: 'Inter', sans-serif;
$nunito: 'Nunito', sans-serif;
$quicksand: 'Nunito', sans-serif;
$monospace: 'Roboto Mono', monospace;

$bg-color: #27272a;
$link-color: #f4f4f5;
$grey-color: #a1a1aa;
$alien-color: #f08c00;
$light-grey-color: #d1d5db;
